@font-face {
  font-family: "snow";
  src: url(../fonts/DH_snowflakes.ttf);
}

@font-face {
  font-family: "frosty";
  src: url(../fonts/FROSTY__.TTF);
}

@keyframes snowmenAnimate {

  0%,
  100% {
    transform: rotate(-5deg);
    transform-origin: bottom;
  }

  50% {
    transform: rotate(5deg);
    transform-origin: bottom;
  }
}

@keyframes candyAnimate {

  0%,
  100% {
    transform: rotate(5deg);
    transform-origin: top;
  }

  50% {
    transform: rotate(-5deg);
    transform-origin: top;
  }
}

@keyframes mysnow {
  0% {
    bottom: 100%;
    opacity: 0;
  }

  40% {
    opacity: 1;
    transform: rotate(180deg);
  }

  70% {
    opacity: 1;
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(540deg);
    opacity: 0;
    bottom: -20%;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #C74151;
}

audio {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

.hide {
  display: none;
}

.juju {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-family: "frosty", Helvetica, Arial;
  color: #fff;
  letter-spacing: 0.3em;
}

.container {
  position: absolute;
  opacity: 0;
  animation: mysnow 10s;
  font-family: "snow", Helvetica, Arial;
  text-align: center;
  color: #fff;
}

#snowFlow {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C74151;
  z-index: 9;
  transition: ease 1s;
  opacity: 1;
}
#loading-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-family: "frosty", Helvetica, Arial;
}

#bg {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-size: contain;
  background-image: url('//personal-1251959693.cos.ap-chengdu.myqcloud.com/2018-12-18-christmas-lights-top-border0.svg');
  background-repeat: no-repeat;
  background-position-y: 0%;
}
#bottom-border{
  width: 100%;
  height: 100%;
  background-image: url('//personal-1251959693.cos.ap-chengdu.myqcloud.com/2018-12-18-snowflake-corners-border-bottom.svg');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: contain;
}
#tree-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 230px;
  height: 300px;
  background-image: url('//personal-1251959693.cos.ap-chengdu.myqcloud.com/2018-12-18-decorated-christmas-tree.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -100px;
}

#gifts {
  position: absolute;
  left: -50px;
  bottom: 0;
}

#snowmen {
  position: absolute;
  bottom: 0;
  left: -120px;
  animation: snowmenAnimate 2s ease infinite;
}

#candy {
  position: absolute;
  bottom: 96px;
  right: 40px;
  animation: candyAnimate 2s ease infinite;
}